* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #ebe4f5;
    z-index: 9;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.brand-logo {
    height: 60px;
    width: 60px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav a i {
    font-size: 32px;
    /* Adjust the icon size (increase this value to make the icons larger) */
    text-decoration: none;
}

.nav li {

    margin-right: 10px;
    /* Decrease the margin-right value to move the icons more to the left */
    padding-bottom: 8px;
}

.nav li :hover {
    color: #0074d9;
}

.logo-container {
    display: flex;
    align-items: center;
}

.nav span {
    font-size: 20px;
    color: black;
    /* Change the color as needed */
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ebe4f5;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu a {
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.menu-icon {
    cursor: pointer;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 50px;
    padding-right: 50px;
}

li {
    display: inline-block;
    margin-right: 10px;
    /* Decrease the margin-right value to move the icons more to the left */
    padding-bottom: 8px;
}

li :hover {
    color: #0074d9;
}


/* About the Leather Section Styles */
.about-leather {

    background-image: url("Background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ebe4f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-leather h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-leather h2 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #b284be;
}

.about-leather h3 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #f3ead3;
}

.about-leather p {
    font-size: 22px;
    line-height: 1.5;
    color: white;
}

.about-leather ul {
    list-style-type: disc;
    margin-left: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about-leather li {
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

/*This is is the footer*/
footer {
    background-color: #ebe4f5;
  
    padding: 30px 0;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo img {
    max-width: 150px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    color: black;
    margin: 10px 0;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .footer-contact h3 {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .footer-contact p {
    color: black;
    font-size: 16px;
    margin: 0;
  }
  .footer-StudentsDetails h3 {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .footer-StudentsDetails li {
    color: black;
    font-size: 16px;
    margin: 0;
    display: flex;
  
  }
  
  .footer-bottom p {
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
  }

@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}